*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
}
.calendar{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    width: min(500px, 90vw);
    margin: 0 auto;
}

.month{
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: minmax(50px, auto);
    gap: 1px;
}

.day {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    position: relative;
}
.day:hover {
    background-color: #eeeeee;
}

.event-marker{
    background-color: #4caf50;
    border-radius: 50%;
    width: 5px;
    height: 5px;
}

.modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content{
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    margin: 100px auto;
}

.close-btn{
    float: right;
    cursor: pointer;
    color: #333333;
}

button{
    margin-top: 10px;
    padding:5px 10px;
    background-color: #4caf50;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

#deleteEventBtn {
    background-color: #f44336;
}

.tooltip{
    position: absolute;
    background-color: #333333;
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
}

.hide{
    display:none;
}